@charset "utf-8";

/*ウィンドウ背景色の設定*/


/*リンク色の設定*/


/*ヘッダー,ナビ,フッターの共通設定*/


/*ナビ*/


/*ページタイトルの設定*/


/*大見出しの設定*/


/*小見出しの設定*/


/*コンテンツ枠の設定*/


/*「もっと見る」リンクの設定*/


/*リンク種別アイコン*/


/*セクション間隔*/


/*回り込み設定*/


/*円形にクリップ*/


